<section>
  <div class="page-header">
    <h1>Uses</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="use in vm.uses"
       ui-sref="uses.view({ useId: use._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="use.created | date:'mediumDate'"></span>
        by
        <span ng-if="use.user" ng-bind="use.user.displayName"></span>
        <span ng-if="!use.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="use.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.uses.$resolved && !vm.uses.length">
    No Uses yet, why don't you <a ui-sref="uses.create">create one</a>?
  </div>
</section>
