ng-map {
  width:100%;
  height:100%;
  position: absolute;
  z-index: 2;
}

.control{
  position: absolute;
  bottom: 10px;
  z-index: 5;
  padding-left: 10px;
  display:inline;
  margin-right:16px;
  width: 100%;
  height: 100px;
}

.control input:last-child{
  margin-right:0px;
}

.upload-container{
  background: #FFFFFF;
  z-index: 3;
}
.search{
  display: block;
  width: 100%;
  vertical-align: top;
  display: inline-block;
}
.rowelement {
  display: inline-block;
  margin-right: 6px;
  background-color: #EEE;
}
.clear {
  clear: both;
}
.plantSearch{
  display:inline-block;
  size: auto;
}

.search > svg{
  display: inline-block;
  size: auto;
  background: #FFFFFF;
}

.button-content{
  height: 100%;
  width: 100%;
  margin-top: 20%;
}

.ui-button{
  background: #49b1e9;
  border: 1px;
  border-radius: 40px;
  height: 18%;
  width: 12%;
  display:initial;
}

.container{
  position: relative;
  vertical-align:bottom;
  width: 100%;
  height: 100%;
}

.icon-bar {
  position: absolute;
  width: 60%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
  vertical-align: bottom;
  display: inline-block;
  bottom: 0px;
  left: 0px;
}


.icon-bar a {

  float: left; /* Float links side by side */
  text-align: start; /* Center-align text */
  width: 25%; /* Equal width (5 icons with 20% width each = 100%)
    padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
  height: 50px;
}

a svg {
  margin-left:auto; margin-right:auto; display:block;
}

.icon-bar a:hover {
  background-color: #FFFFFF; /* Add a hover color */
}

.active {
  background-color: #4CAF50; /* Add an active/current color */
}

.touchMargin {
  width: 15%;
  height: 100%;
  /*z-index: 3000000;*/
  position: absolute;
  right: 0px;
  /*margin-top: 8%;
  margin-left: 85%;
  margin-right: 0;*/
}

.creationMomo{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: white;
  z-index: 10000;
  height: 50%;
}

.plantinder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.result{
  display: inline-block;
  border: thick;
  border-radius: 25px;
}

.result *{
  position: relative;
}

.imageIcon > img{
  width: 30%;
  height: 30%;
  object-fit: contain;
}

