<section>
  <div class="page-header">
    <h1>Pois</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="poi in vm.pois"
       ui-sref="pois.view({ poiId: poi._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="poi.created | date:'mediumDate'"></span>
        by
        <span ng-if="poi.user" ng-bind="poi.user.displayName"></span>
        <span ng-if="!poi.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="poi.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.pois.$resolved && !vm.pois.length">
    No Pois yet, why don't you <a ui-sref="pois.create">create one</a>?
  </div>
</section>
